ejercicios/modulos/__pycache__/operaciones.cpython-312.pyc
ejercicios_avanzados/poo/ej01/__pycache__/vehiculos.cpython-312.pyc
ejercicios_avanzados/poo/ej01/__pycache__/dron.cpython-312.pyc
ejercicios_avanzados/poo/ej01/__pycache__/barco.cpython-312.pyc
